[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    nocov
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    abstractmethod
    __repr__
    # exclude lines where cuda is called on anything:
    cuda\(

fail_under = 95
show_missing = True

[run]
source =
    baal
data_file = coverage_reports/.coverage