# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  tests_running:
    docker:
      # specify the version you desire here
      - image: circleci/python:3.7-stretch

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/baal

    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip config set global.progress_bar off
            pip install --upgrade pip
            pip install -e .
            pip install -r test-requirements.txt
            pip uninstall -y torch torchvision
            pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html --trusted-host download.pytorch.org

      - run:
          name: Setup Environment Variables
          command: |
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV   
            echo "export CI_BUILD_URL=${CIRCLE_BUILD_URL}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_NAME=circle" >> $BASH_ENV

      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            flake8 src/
            pytest tests/

      - run:
          name: run coverage
          command: |
            . venv/bin/activate
            pytest tests --cov=src

      - store_artifacts:
          path: test-reports
          destination: test-reports
  fossa:
    docker:
      # specify the version you desire here
      - image: circleci/python:3.7-stretch

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/baal
    branches:
      only:
        - master

    steps:
      - run:
          name: Grab FOSSA client
          command: |
            curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | bash
      - checkout

      - run:
          name: Setup Environment Variables
          command: |
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV
            echo "export CI_BUILD_URL=${CIRCLE_BUILD_URL}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_NAME=circle" >> $BASH_ENV

      - run:
          name: FOSSA scan
          command: fossa
          working_directory: ~/baal

workflows:
  version: 2
  run_test:
    jobs:
      - tests_running
        - requires:
            - build
      - fossa:
          requires:
            - build
          filters:
            branches:
              only:
                - master
