# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test import

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: Gr1N/setup-poetry@v8
    - name: Install dependencies no dev
      run: |
        poetry install --no-interaction --no-ansi --no-dev
    - name: Test imports
      run: |
        poetry run python -c "import baal; import baal.active.dataset; \
            import baal.active.heuristics; import baal.active.active_loop; \
            import baal.bayesian; import baal.calibration; import baal.modelwrapper"
